.recept-display{
    margin-top: 30px;
}

.recept-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.nema-vrednosti{
    margin-top: 20px;
}