.home{
  /* text-align: center; */
  width: 80%;
  margin: auto;
}

.sastojci{
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}