
.gradient-custom {
  background: #11cbb5;
  background: -webkit-linear-gradient(to right, rgb(17, 203, 144), rgb(37, 220, 252));
  background: linear-gradient(to right, rgba(17, 203, 144), rgba(37, 220, 252))
}
.label-custom {
  display: block;        
  margin-top: 5px;       
  font-size: 1.2rem;     
  color: #aebdca;
}
.App {
  text-align: center;
  width: 80%;
  margin: auto;
}
